<div>
  <h1>{{postCtrl.currentPost.title}}</h1>
    <p>By: {{postCtrl.currentPost.author}}</p>
    <p>{{postCtrl.currentPost.updated | date}}</p>
    <p>{{(postCtrl.current.post.score >= 0) ? '+' : ''}}{{postCtrl.currentPost.score}}</p>
  <article>
    <p>{{postCtrl.currentPost.content}}</p>
  </article>
  <button ng-click="postCtrl.upvotePost(1)">upvote</button>
  <button ng-click="postCtrl.upvotePost(-1)">downvote</button>
</div
<div>
   <p>comments</p>
    <form ng-submit="postCtrl.submitComment()">
      <textarea type="text" ng-model="postCtrl.newComment" placeholder="comment"></textarea>
      <input type="submit" value="submit">
    </form>
  <div ng-repeat="comment in postCtrl.currentPost.comments">
    <button ng-click="postCtrl.upvoteComment(comment.id, 1)">upvote</button>
    <button ng-click="postCtrl.upvoteComment(comment.id, -1)">downvote</button>
    <p>By: {{comment.author}}</p>
    <p>{{comment.date | date}}</p>
    <p>{{comment.text}}</p>
    <p><sign val="comment.score"></sign>{{comment.score}}</p>
  </div>
</div>
