<article class="row">
  <div class="col-sm-2 list-group">
        <span class="{{profileCtrl.show === 'info' ? 'active' : ''}} list-group-item " ng-click="profileCtrl.show = 'info'">info</span>
        <span class="{{profileCtrl.show === 'posts' ? 'active' : ''}} list-group-item" ng-click="profileCtrl.show = 'posts'">posts</span>
        <span class="{{profileCtrl.show === 'comments' ? 'active' : ''}} list-group-item " ng-click="profileCtrl.show = 'comments'">comments</span>
  </div>
  </div>


  <div class="col-sm-10 container-fluid">
    <div ng-show="profileCtrl.show === 'info'" class="well row">
      <h1>{{profileCtrl.user.username}}</h1>
      <article ng-show="!profileCtrl.editMode" linkify="profileCtrl.user.info"></article>
      <form class="form-group" ng-show="profileCtrl.userData.username === profileCtrl.user.username">
      <textarea ng-show="profileCtrl.editMode" ng-model="profileCtrl.user.newInfo" class='form-control'></textarea>
      <div class="form-group pull-right">
      <button ng-click="profileCtrl.startEdit()" class="btn btn-default">Edit</button>
      <button ng-click="profileCtrl.cancelEdit()" ng-show="profileCtrl.editMode"  class="btn btn-default">Cancel</button>
      <button ng-show="profileCtrl.editMode" ng-click="profileCtrl.saveEdit()" class="btn btn-default">Save</button>
      </div>
    </div>

    <div ng-show="profileCtrl.show === 'posts'">
      <div ng-repeat="post in profileCtrl.user.posts" class="well row">
        <h4>By: {{post.author}} <small>{{post.updated | date}}</small></h4>
        <p>{{post.content}}</p>
      </div>
    </div>

    <div ng-show="profileCtrl.show === 'comments'">
      <div ng-repeat="comment in profileCtrl.user.comments" class="well row">
        <h4>By: {{comment.author}} <small>{{comment.date | date}}</small></h4>
        <p>{{comment.text}}</p>
      </div>
    </div>
  </div>
</article>
